repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [-b main]
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-json5
      - id: check-toml
      - id: check-yaml
      - id: check-xml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: [--maxkb=1024]
